//Colors
txtRed=#d44621;
bgGrey=#aaaaaa;
selectBlue=#0000ff;
txtBlack=#111111;
txtBlue=#202ff8;
txtGrey=#777777;
placeholderGrey=#676767;
circleColor1=#fff200;
circleColor2=#20d23a;

//font-size
extrasmallText = 0.75rem;
smallText = 0.875rem;
normalText = 1rem;
middleText = 1.125rem;
header = 1.5rem;
bigHeader = 2.25rem;

